/* //0 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: blue;
}

/* //1 */
span{ //1

}

/* //10 */
.cl1 {
  color: red;
}

.cl2 {
  color: blue;
}

div cl2{
  border: 1px solid red;
  border-radius: 5px;
}

div div{
  border: 1px solid black;
  border-radius: 5px;
}


/* //100 */
#i21 {
  color: red;
}
